:root {
    /* --back-light: rgba(76,207,193);
    --back-dark: rgba(60,195,181, 255);
    --gray: gray;
    --white: white; */
}

body {
    background-color: #FAFAFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color:var(--white); */
}



/* Header styles */

/* /Header styles */



/* Intro styles */
    /* Nav styles */
        .intro-section {
            background-image: url(./images/intro.png);
            background-position: center center;
            background-size: cover;
            padding-bottom: 200px;
        }

        .text-logo {
            margin-left:-300px;
            margin-right: 100px;
        }
        .nav-link-asosiy {
            text-decoration: underline;
        }
    /* /Nav styles  > .container-fluid */
    .card {
        border: none;
        border-radius: 0%;
    }
    .intro-welcome {
        margin: 100px 0 0 100px;
        width: 30%;
    }

    .intro-welcome > h1 {
        text-transform: uppercase;
        font-size: 45px;
        font-weight: 500;
        margin-left: 10px;
    }

    .intro-welcome > button {
        border-radius: 20px;
        padding: 5px 30px 5px 30px;
    }
/* /Intro styles */

/* Blog styles */

/* /Blog styles */


/* Featureds products styles */

/* /Featureds products styles */

/* Products styles */

/* /Products styles */

/* Footer styles */
.social-links > img {
    margin-left: 15px;
}

.social-links {
    margin-left: 400px;
}

footer ul > li {
    list-style: none;
    margin-top: 10px;
}

.footer-title {
    color:white;
    margin-bottom: 20px;
}

.footer-text {
    color:white;
}

.footer-text > img {
    margin-right: 10px;
}
/* /Footer styles */

.subscription-section {
    width: 100%;
    height: 70px;
    background-color: #252B42;
}

.subscription-section-header {
    width: 90%;
    height: 130px;
    background: #CA2953;
    margin-left: 5%;
    /* padding: 5%; */
;
}

.subscription-section-header-subscribe {
    width: 100%;
    height: 70px;
    background-color: #252B42;
}

.counter-section, .features-section, .blog-section {
    margin-top: 50px;
}

.features-section > .container {
    margin-top: 100px;
}

.contact {
    background: #FAFAFA;
    margin-top: 30px;
}

.contact button {
    border-radius: 5px;
    padding: 10px;
}

.contacts {
    margin-top: 150px;
}

.contacts .card-group {
    margin-top: 70px;
}

.contacts img {
    margin-bottom: 20px;
}

.contact-center-btn:hover {
    background-color: #FFC107;
}

.contact-center-btn, .contacts button:hover {
    color: white;
}

.contact-center-btn {
    border-color: white;
}


@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
        
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

intro-section {
    height: 100%;
}